@import "./defaults.scss";

#search {
  width: 25%;
  position: fixed;
  right: 2%;
  top: 5%;
}

#add_post {
  position: absolute;
  left: 5%;
  top: 5%;
}

header {
  width: 75%;
  font-family: "Times New Roman", Times, serif;
  color: #1a3e86;

  h1 {
    text-align: center;
    font-size: 5rem;
  }
}

#user_account_preview {
  height: 80%;
  width: 25%;
  position: fixed;
  right: 2%;
  top: 15%;
  // uncomment below code in future!
  // overflow-y: scroll;
  overflow: hidden;

  #user_profile_pic {
    text-align: center;
    img {
      height: 6rem;
      border-radius: 50%;
    }
    margin-top: 1rem;
  }

  #user_info_container {
    background-color: #fff5;
    border-radius: 5px;
    padding: 1rem;
  }
}

#forum_questions {
  .forum_link {
    background-color: #ccc;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
      box-shadow: 1px 1px 10px #222;
    }

    .forum_link_header {
      a {
        text-decoration: none;

        &:hover {
          color: #00acf0;
        }
      }
    }

    .extra_options {
      font-size: 1.2rem;

      .action_buttons {
        cursor: pointer;
        background: none;
        border: none;
        margin-left: 1rem;
        transition: 200ms;

        &:hover {
          color: #e3170a;
        }
      }
    }
  }
}

@media (max-width: 995px) {
  #search {
    width: 50%;
    position: relative;
    margin-bottom: 2rem;
  }

  #user_account_preview {
    display: none;
  }

  header {
    width: 100%;
  }
}

@media (max-width: 530px) {
  header {
    h1 {
      font-size: 3rem;
    }
  }
}
