
#nav-bar{
	position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    
    .navbar{
        background-color: rgba(255,255,255,0.8);
        border-top-left-radius: 10px;
        /*.navbar-brand{
            img{
                height: 40px;
                padding-left: 30px;
            }
    
            li{
                padding: 0 10px;
    
                a{
                    float: right;
                    text-align: left;
                }
            }
        }*/

        .navbar-toggler{
            border: none;
        }

        .nav-link{
            color: #555;
            font-weight: 600;
            font-size: 1em;
    
            &:hover{
                color: #007bff;
            }
        }

        #profile_pic{
            width: 1.4rem;
            border-radius: 50%;
        }
    }
}